.mensaje{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20%;
    width: 50%;
    height: 200px;
    background: rgb(75, 75, 75);
    border-radius: 10px;
    box-shadow: #000;
}
.mensaje-saludo{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    font-size: 20px;
    color: aliceblue;
    
}